In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [3]:
from google.colab import files
uploaded = files.upload()

Saving sample_submission_.csv to sample_submission_ (1).csv

In [4]:
melbourne_data =pd.read_csv('sample_submission_.csv')
melbourne_data.columns

Index(['LotArea', 'Price'], dtype='object')

In [5]:
melbourne_data=melbourne_data.dropna(axis=0)
y=melbourne_data.Price
melbourne_features=['LotArea','Price']
x=melbourne_data[melbourne_features]
x.describe()

            LotArea          Price
count     50.000000      50.000000
mean    9922.440000  171458.879550
std     2886.474448   16322.151092
min     4224.000000  145291.245000
25%     7787.000000  158007.653425
50%     9671.000000  172642.785850
75%    11247.750000  185650.132900
max    16905.000000  201740.620700

In [6]:
x.head()

   LotArea        Price
0     8450  169277.0525
1     9600  187758.3940
2    11250  183583.6836
3     9550  179317.4775
4    14260  150730.0800

In [7]:
melbourne_model = DecisionTreeRegressor(random_state=1)
melbourne_model.fit(x,y)
print("Making predictions for the following 5 houses")
print(x.head())
print("The predictions are")
print(melbourne_model.predict(x.head()))

Making predictions for the following 5 houses
   LotArea        Price
0     8450  169277.0525
1     9600  187758.3940
2    11250  183583.6836
3     9550  179317.4775
4    14260  150730.0800
The predictions are
[169277.0525 187758.394  183583.6836 179317.4775 150730.08  ]

In [8]:
predicted_home_prices = melbourne_model.predict(x)
mean_absolute_error(y,predicted_home_prices)

0.0

In [9]:
train_x,val_x,train_y,val_y=train_test_split(x,y,random_state=0)
melbourne_model=DecisionTreeRegressor()
melbourne_model.fit(train_x,train_y)
val_predictions=melbourne_model.predict(val_x)
print(mean_absolute_error(val_y,val_predictions))

1590.1209461538417